{{define "home"}}
{{template "header" .}}
<script type="text/javascript">
  var users = [];
  var user = {
    name : {{.User.Name}},
    location: {
      lat : {{.User.Location.Latitude}},
      lng: {{.User.Location.Longitude}}
    }
  }
</script>

<h2>Welcome {{.User.Name}}</h2>
<h3>What would you like to do now?</h3>
<div class="row">
  <div class="col-md-12">
    <div id="map-canvas" style="width:100%;height:300px;"></div>
  </div>
</div>
<div class="row">
  {{range .Data}}
  <div class="col-md-3">
    <script type="text/javascript">
      users.push({
        name : {{.User.Name}},
         location : {
            lat : {{.User.Location.Latitude}},
            lng: {{.User.Location.Longitude}}
          }
      });

    </script>
    <h3>{{.User.Name}}</h3>
    <p></p>
    <h3>His interests</h3>
    <ul>
      {{range .User.Interests}}
        <li>{{.Name}} ({{.Rating}})</p>
      {{end}}
    </ul>
  </div>
  {{end}}
</div>

  <script type="text/javascript">

  $(function() {
    function initialize() {

      var mapOptions = {
        center: user.location,
        zoom: 10
      };

      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      var marker = new google.maps.Marker({
        position: user.location,
        map: map,
        title:"User position",
        image: "images/beachflag.png"
      });

      $.each(users, function(index, user){
        var marker = new google.maps.Marker({
          position: user.location,
          map: map,
          title: user.name
        });
      });
    };

    initialize();
  })

  </script>

{{template "footer" .}}
{{end}}
