{{define "profile"}}
{{template "header" .}}

<h2>{{.Title}}</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Your interests</h3>
        <form action="/interest/add" method="POST">
            <div class="row spacer-down-xs">
                <div class="col-md-6"><input type="text" name="interest" class="form-control" placeholder="Interest" /></div>
                <div class="col-md-3"><input type="number" name="rating" class="form-control" placeholder="Rating" /></div>
                <div class="col-md-3"><input type="submit" name="add-interest" class="btn btn-primary" value="Add" /></div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    {{range .User.Interests}}
                    <li class="list-group-item">
                        <span class="badge">{{.Rating}}</span>
                        {{.Name}}
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="map-canvas" style="width:100%;height:300px;"></div>
    </div>
</div>

<script type="text/javascript">
function initialize() {
    var latLng = { lat: {{.User.Location.Latitude}}, lng: {{.User.Location.Longitude}}};
    var mapOptions = {
        center: latLng,
        zoom: 10
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title:"Position"
    });
}
setTimeout(initialize, 500);
</script>

{{template "footer" .}}
{{end}}
